<div class="sliders-wrapper container d-lg-flex justify-content-between align-items-center">

    <div class="kilometerSlider">
        <h2>Trier par Kilomètres:</h2>

        <div class="min-max">
            <div class="min">
                <label>Min</label><span id="km-min-value">
                </span>
            </div>
            <div class="max">
                <label>Max</label><span id="km-max-value">
                </span>
            </div>
        </div>

{#         {% set bornes.minKm = 'bornes.minKm' %}  #}
{#         {% set bornes.maxKm = 'bornes.maxKm' %}  #}

        <div class="min-max-range">
            <input type="range" min="10000" step="1000" max="59999" value="10000" class="range" id="min-km">
            <input type="range" min="60000" step="1000" max="120000" value="120000" class="range" id="max-km">
        </div>

    </div>

    <div class="priceSlider mx-lg-3">
        <h2>Trier par Prix:</h2>

        <div class="min-max">
            <div class="min">
                <label>Min</label><span id="min-price-value">
                </span>
            </div>
            <div class="max">
                <label>Max</label><span id="max-price-value">
                </span>
            </div>
        </div>

        <div class="min-max-range">
            <input type="range" min="2000" step="500" max="12000" value="2000" class="range" id="min-price">
            <input type="range" min="12000" step="500" max="22000" value="22000" class="range" id="max-price">
        </div>

    </div>

    <div class="yearSlider">
        <h2>Trier par Année:</h2>

        <div class="min-max">
            <div class="min">
                <label>Min</label><span id="year-min-value">
                </span>
            </div>
            <div class="max">
                <label>Max</label><span id="year-max-value">
                </span>
            </div>
        </div>

        <div class="min-max-range">
            <input type="range" min="2013" max="2018" value="2013" class="range" id="min-year">
            <input type="range" min="2018" max="2024" value="2024" class="range" id="max-year">
        </div>

    </div>

</div>
