<div class="sliders-wrapper container d-lg-flex justify-content-between align-items-center">

    <div class="kilometerSlider">
        <h2>Trier par Kilomètres:</h2>

        <div class="min-max">
            <div class="min">
                <label>Min</label><span id="km-min-value">
                </span>
            </div>
            <div class="max">
                <label>Max</label><span id="km-max-value">
                </span>
            </div>
        </div>

        <div class="min-max-range">
            <input type="range" min="10000" step="1000" max="50000" value="0" class="range" id="min-km">
            <input type="range" min="51000" step="1000" max="150000" value="150000" class="range" id="max-km">
        </div>

    </div>

    <div class="priceSlider mx-lg-3">
        <h2>Trier par Prix:</h2>

        <div class="min-max">
            <div class="min">
                <label>Min</label><span id="min-price-value">
                </span>
            </div>
            <div class="max">
                <label>Max</label><span id="max-price-value">
                </span>
            </div>
        </div>

        <div class="min-max-range">
            <input type="range" min="1000" step="500" max="20000" value="0" class="range" id="min-price">
            <input type="range" min="20500" step="500" max="40000" value="40000" class="range" id="max-price">
        </div>

    </div>

    <div class="yearSlider">
        <h2>Trier par Année:</h2>

        <div class="min-max">
            <div class="min">
                <label>Min</label><span id="year-min-value">
                </span>
            </div>
            <div class="max">
                <label>Max</label><span id="year-max-value">
                </span>
            </div>
        </div>

        <div class="min-max-range">
            <input type="range" min="2010" max="2017" value="2010" class="range" id="min-year">
            <input type="range" min="2018" max="2024" value="2024" class="range" id="max-year">
        </div>

    </div>

</div>
