<div class="container-fluid">
    <header class="d-flex align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-3 col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img src="#" alt="Logo"><!-- ATTENTION il y avait une SVG-->
            </a>
        </div>
        <div class="col-4">
            <h1>Garage Parrot</h1>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2">Features</a></li>
            <li><a href="#" class="nav-link px-2">Pricing</a></li>
            <li><a href="#" class="nav-link px-2">FAQs</a></li>
            <li><a href="#" class="nav-link px-2">About</a></li>
        </ul>

        <div class="hidden md-block d-block-md col-md-3 text-end">
            <!-- <button type="button" class="btn btn-outline-primary me-2">Se connecter</button> -->
            <button type="button" class="btn btn-primary">Connection</button>
            <button type="button" class="btn btn-warning">Déconnection</button>
        </div>
    </header>
</div>