/* Font variables in the project */
$primary-font: 'Montserrat';
$secondary-font: 'Roboto';
$tertiary-font: 'Sans Serif';

/* Color variables in the graphic chart rgba(19, 19, 19, 0.95) or #1b1b21 which is closer to the logo's color */
$periferal-color: #1b1b21;