{% extends 'base.html.twig' %}

{% block title %}Témoignages{% endblock %}

{% block body %}

    <main>

        <h2 class="text-center mt-3 mt-md-5">Commentaires et témoignages</h2>

        <div class="testimonial-button d-grid gap-2 d-md-block text-end me-md-5">
            <button class="btn btn-primary mb-3" type="submit"><a href="{{ path('app_add_comment') }}" class="text-decoration-none text-white">Laisser un témoignage</a></button>
        </div>

        <div class="d-flex flex-column-reverse justify-content-evenly flex-md-row mb-md-3">

            <div class="container d-flex flex-column br-1 justify-content-evenly mt-3 flex-md-row flex-wrap">
                {% for testimonial in testimonials %}
                    <article class="col col-12 mx-auto my-1 border border-dark rounded p-1 col-md-3 ms-1 my-md-4">
                        <ul class="list-unstyled">

                            <li><label>Nom : {{  testimonial.userName }} </label></li>
                            <li><label>Contenu : {{ testimonial.content }} </label></li>
                            {# <li><label>Note: {{ testimonial.Note }} </label></li> #}

                            <li>Note :
                                {% for i in range(1, 5) %}
                                    {% if (loop.index <= testimonial.Score) %}
                                        <span class="active text-secondary">&starf;</span>
                                    {% else %}
                                        <span class="active"> </span>
                                    {% endif %}
                                {% endfor %}
                            </li>

                        </ul>
                    </article> <br>
                {% endfor %}
            </div>
        </div>

    </main>

{% endblock %}
