@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "shared/custom";
@import "shared/variables";

@import "bootstrap";

body {
    background-color: antiquewhite;
    max-width: 100%;
}

.header {
    background-color: $periferal-color;
    color: white;
    .logo {
        height: 5rem;
        width: auto;
        border-radius: 12px;
    }
}

.home-img img{
    max-height: 234px;
    object-fit: cover;
}

.vehicle-list-img img{
    max-height: 240px;
    object-fit: cover;
    padding: 1%;
    border-radius: 5%;
}

.carousel-item img{
    max-width: 300px;
    object-fit: cover;
}

.card {
    background-color: antiquewhite;
}

.footer {
    background-color: $periferal-color;
    color: white;
}