{% extends 'base.html.twig' %}

{% block title %}Commentaires et témoignages{% endblock %}

{% block body %}

        <h2 class="text-center">Service de réparation {{ controller_name }}! ✅</h2>
    <div class="text-end me-3 text-lg-start">
        <a href="{{ path('app_comments_form') }}"><button class="btn btn-primary">Laisser un témoignage</button></a>
    </div>
<div class="container d-flex flex-column br-1 justify-content-evenly mt-3 flex-lg-row">

    <div class="text-center">
        <h3>Témoignage 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aut autem deserunt dolore est laboriosam neque perspiciatis provident, quam tempora, unde voluptas! Cum explicabo hic obcaecati recusandae reiciendis totam.</p>
        <span>&star;&star;&star;&star;&star;</span>
    </div>
    <div class="text-center">
        <h3>Témoignage 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aut autem deserunt dolore est laboriosam neque perspiciatis provident, quam tempora, unde voluptas! Cum explicabo hic obcaecati recusandae reiciendis totam.</p>
        <span>&star;&star;&star;&star;&star;</span>
    </div>
    <div class="text-center">
        <h3>Témoignage 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aut autem deserunt dolore est laboriosam neque perspiciatis provident, quam tempora, unde voluptas! Cum explicabo hic obcaecati recusandae reiciendis totam.</p>
        <span>&star;&star;&star;&star;&star;</span>
    </div>
    <div class="text-center">
        <h3>Témoignage 4</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aut autem deserunt dolore est laboriosam neque perspiciatis provident, quam tempora, unde voluptas! Cum explicabo hic obcaecati recusandae reiciendis totam.</p>
        <span>&star;&star;&star;&star;&star;</span>
    </div>
    <div class="text-center">
        <h3>Témoignage 5</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aut autem deserunt dolore est laboriosam neque perspiciatis provident, quam tempora, unde voluptas! Cum explicabo hic obcaecati recusandae reiciendis totam.</p>
        <span>&star;&star;&star;&star;&star;</span>
    </div>
    <div class="text-center">
        <h3>Témoignage 6</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aut autem deserunt dolore est laboriosam neque perspiciatis provident, quam tempora, unde voluptas! Cum explicabo hic obcaecati recusandae reiciendis totam.</p>
        <span>&star;&star;&star;&star;&star;</span>
    </div>

</div>
{% endblock %}
