{% extends 'base.html.twig' %}

{% block title %}Liste des véhicules{% endblock %}

{% block body %}

        <h2 class="text-center">Service de réparation {{ controller_name }}! ✅</h2>
<div class="container d-flex flex-column br-1 justify-content-evenly mt-3 flex-lg-row-reverse">

    <div class="lg-align-self-center m-3">
        <h2>Image 1</h2>
        <img src="../../public/images/W102777861_STANDARD_0.webp" alt="Voiture-1">
    </div>

    <div class="lg-align-self-center m-3">
        <h2>Image 2</h2>
        <img src="../../public/images/E112828768_STANDARD_0.webp" alt="Voiture-2">
    </div>

    <div class="lg-align-self-center m-3">
        <h2>Image 1</h2>
        <img src="../../public/images/W102777861_STANDARD_0.webp" alt="Voiture-1">
    </div>

    <div class="lg-align-self-center m-3">
        <h2>Image 2</h2>
        <img src="../../public/images/E112828768_STANDARD_0.webp" alt="Voiture-2">
    </div>

    <div class="lg-align-self-center m-3">
        <h2>Image 1</h2>
        <img src="../../public/images/W102777861_STANDARD_0.webp" alt="Voiture-1">
    </div>

    <div class="lg-align-self-center m-3">
        <h2>Image 2</h2>
        <img src="../../public/images/E112828768_STANDARD_0.webp" alt="Voiture-2">
    </div>

    <div class="lg-align-self-center m-3">
        <h2>Image 1</h2>
        <img src="../../public/images/W102777861_STANDARD_0.webp" alt="Voiture-1">
    </div>

    <div class="lg-align-self-center m-3">
        <h2>Image 2</h2>
        <img src="../../public/images/E112828768_STANDARD_0.webp" alt="Voiture-2">
    </div>

</div>
{% endblock %}
